# Python
__pycache__/

# Virtual Environment
.venv

# Model & Features
*.pkl
*.npy
model/voice_model.pkl
features/X.npy
features/y.npy

# Data backup
data_backup/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing files
test_*.py
